nav {
  .home-link {
    padding-top: 4px;
    padding-bottom: 4px;
    &.active{
      border: none;
    }
    
    svg {
      width: 30px;
      height: 30px;
    }
  }
  .active {
    border-bottom: 1px solid;
  }
}