body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

header {
  margin-bottom: 15px;
}

main {
//   background-image: url('./assets/demo.jpg');
// // background-size: cover;
// // background-repeat: no-repeat;
// // background-position: center;
  .loading-page {
    position: absolute;
    left: 40%;
    top: 46%;
  }
}

// #main{
//   background-image: url('../../../assets/demo.jpg');
// }